.loginForm{
    border: inset gray 10px;
    margin: 20px 450px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

input{
    margin-top: 20px;
}
button{
    margin-top: 30px;
}
p{
    color: red;
}
h6{
    color: white;
   margin-left: 1050px;
}