<div class="row">
    <div class="col-12">
        <h4 appCustome>Reactive Form</h4>
        <h6><u>{{displayFirstname}}</u></h6>
        <h6><u>{{displayEmail}}</u></h6>
    </div>
</div>
<div class="row">
    <div class="col-4 loginForm">
        <form [formGroup]="loginForm">
            <div>
                <input type="text" formControlName="firstname" placeholder="First Name">
                <p *ngIf="firstname.touched && firstname.invalid">Please Enter Your First Name</p>
            </div>
            <div>
                <input type="text" formControlName="lastname" placeholder="Last Name">
                <p *ngIf="lastname.touched && lastname.invalid">Please Enter Your Last Name</p>
            </div>
            <div>
                <input type="text" formControlName="email" placeholder="Email Id">
                <p *ngIf="email.touched && email.invalid">Please Enter Your Email Id</p>
            </div>
            <div>
                <input type="password" formControlName="password" placeholder="Password">
                <p *ngIf="password.touched && password.invalid">Please Enter Your password</p>
            </div>
            <div>
                <input type="password" formControlName="repassword" placeholder="Conform Password">
                <p *ngIf="repassword.touched && repassword.invalid">Please Enter Your conform password</p>
            </div>
            <div>
                <input type="text" formControlName="phonenumber" placeholder="Phone Number">
                <p *ngIf="phonenumber.touched && phonenumber.invalid">Please Enter Your phonenumber</p>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" (click)="submitForm()" [disabled]="!loginForm.valid">Subumit</button>
            </div>
        </form>
    </div>
</div>